@import 'partials/variables';
// general rules
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
	scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  max-width: 1140px;
  margin: auto;
}
.mini-container{
  max-width: 800px;
  margin: auto;
}
ul{
  li{
      list-style-type: none;
  }
}
a{
  color: inherit;
  text-decoration: none;
}
input{
    border: none;
    outline: none;
}
.bigger-text{
  font-size: 2.5rem;
}
.big-text{
  font-size: 2rem; 
}
.small-text{
  font-size: 0.8rem;
}
.smaller-text{
  font-size: 0.6rem;
}
.white-text{
  color: white;
}
.thin-text{
  font-weight: 100;
}

// HEADER
header{
    padding: 20px 0;
    position: relative;
    .container{
        @include flex(row, space-between, center);
        img{
            width: 50px;
        }
        #navbar-menu{
            ul{
                @include flex(row, flex-start, center); 
                li{
                    margin-left: 30px;
                    a:hover{
                        color: blue;
                    }
                }
            }
        }
        #hamburger-menu{
            cursor: pointer;
            display:none;
            ul{
                position: absolute;
                top: 80px;
                right: 20px;
                z-index: 99;
                padding: 10px;
                background-color: white;
                border: 2px solid $lightgray;
                border-radius: 10px;
                li{
                    margin: 10px 0;
                    a:hover{
                        color:blue;
                    }
                }
            }
        }
    }
}
//JUMBOTRON
#jumbotron{
    background-image: url('../img/bg-nico.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    position:relative;
    .layover{
        position:absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        text-align: center;
        background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0.07046568627450978) 98%);
    }
    .mini-container{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding-bottom: 30px;
        h1{
            letter-spacing: 10px;
        }
    }
}
//MAIN
//First section: quote
#quote{
    .mini-container{
        padding: 50px 0;
        @include flex(row,space-between,flex-end);
        h2{
            width:65%;
        }
    }
}
//Second section: tech
#tech{
    .container{
        @include flex(row,space-between,flex-start);
        padding: 15px;
        .square{
            border: 2px solid $lightgray;
            background-color: #FBF9FA;
            position: relative;
            .layover{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: black;
                color: white;
                opacity: 0;
                padding:20px;
                transition: 0.5s;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }
            &:hover{
                .layover{
                    opacity: 0.9;
                    z-index: 99;
                }
            }
        }
        .big{
            width: 49%;
        }
        .medium{
            margin-bottom: 2%;
            @include flex(row,space-between,center);
        }
        .small{
            width: 47.5%;
        }
        .square.big:after, .square.small:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        .square.medium:after {
            content: "";
            display: block;
            padding-bottom: 50%;
        }
        .content{
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 20px;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .square.big{
            .content{
                @include flex(row,space-between,flex-start);
                .text-container{
                    width: 50%;
                    height: 20%;
                }
                .img-container{
                    width: 50%;
                    height: 100%;
                    position: relative;
                    img{
                        width: 90%;
                        margin:auto;
                        height: 80%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
        .square.medium{
            .content{
                @include flex(row,flex-start,flex-start);
                .text-container, .img-container{
                    width: 50%;
                    height: 100%;
                    overflow-y: auto;
                }
                .img-container{
                    margin-left: 15px;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .square.small{
            .content.left{
                @include flex(column,space-between,flex-start);
                .text-container{
                    height: 50%;
                    overflow-y: auto;
                }
                .img-container{
                    width: 100%;
                    height: 50%;
                    text-align: right;
                    img{
                        width:60%;
                        height: 100%;
                    }
                }
            }
            .content.right{
                h3{
                    height: 23px;
                    overflow-y: auto;
                }
                >div{
                    height: 100%;
                    width: 100%;
                    overflow-y: auto;
                    @include flex(row,space-between,flex-start);
                    .text-container{
                        overflow-x: hidden;
                        width: 65%;
                        height: 100%;
                        overflow-y: auto;
                    }
                    .img-container{
                        width: 35%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 90%;
                        }
                    }
                }
            }
        }       
    }
}
//Third section: carousel w/car-image
#creative-space{
    font-family: 'Playfair Display', serif;
    .container{
        padding: 50px 0;
        >h1{
            text-align: center;
            padding-bottom: 50px;
        }
        .selectors{
            display:flex;
            .selector{
                width: calc(100% / 3);
                padding: 10px 0;
                border-bottom: 2px solid $lightgray;
                text-align: center;
                color: $lightgray;
                &.active{
                    color:black;
                    border-bottom: 2px solid black;
                }
            }
        }
        .carousel{
            @include flex(row,space-between,center);
            padding: 0 20px;
            .text{
                width: 30%;
            }
            .img-container{
                width: 65%;
                padding: 20px 0;
                img{
                    width: 100%;
                }
            }
        }
    }
}
//Fourth section: support + form
#support{
    .container{
        @include flex(row,flex-start,center);
        .description-container{
            width: 60%;
            .features{
                @include flex(row,flex-start,flex-start);
                >div{
                    width: 40%;
                    margin-right: 10%;
                    h3{
                        padding: 30px 0 15px;
                    }
                    p.small-text{
                        padding: 15px 0;
                    }
                }
            }
        }
        .form-container{
            width: 400px;
            border: 2px solid $lightgray;
            padding: 20px;
            border-radius: 10px;
            .input-container{
                border: 2px solid $lightgray;
                border-radius: 10px;
                margin: 20px 0;
                .text-data{
                    padding: 10px;
                    .input-box{
                        border: 2px solid $lightgray;
                        input{
                            padding: 0 5px;
                        }
                    }
                }
                .checkin-checkout{
                    display:flex;
                    border-bottom: 2px solid $lightgray;
                    border-top: 2px solid $lightgray;
                    input{
                      border:none; 
                      width: calc(100% - 10px); 
                    }
                    >div{
                        padding: 10px;
                        width: 50%;
                    }
                    >div:last-child{
                        border-left: 2px solid $lightgray;
                    }
                }
                .guest-select{
                    padding: 10px;
                    .select-container{
                        width: 100%;
                        select{
                            width: 100%;
                            border: none;
                        }
                    }
                }
            }
            .submit-btn{
               input{
                   width: 100%;
                   border-radius: 10px;
                   color: white;
                   padding: 15px;
                   font-size: 1rem;
                   border: none;
                   cursor: pointer;
                   background: linear-gradient(90deg, rgba(205,80,80,1) 0%, rgba(176,71,111,1) 98%);
               } 
            }
        }
    }
}
//Fifth section: slogan
#slogan{
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    div{
        text-align: center;
        font-size: 1.2rem;
    }
}
//Sixth section: partners
#partners{
    background-color: lightgray;
    padding: 20px 0;
    .container{
        ul{
            @include flex(row,space-between,center);
            li{
                width: calc((100% - 180px) / 9);
                padding: 0 10px;
                display: inline-block;
                img{
                    width: 100%;
                }
            }
        }
    }
}
//LAST PART: Footer
footer{
    background-color: #1D2225;
    color: $lightgray;
    .container{
        padding: 30px 0 70px;
        @include flex(row,space-between,flex-start);
        >div{
            width: 25%;
            p.white-text{
                margin-bottom: 10px;
            }
            img{
                width: 50%;
            }
            .social-networks{
                margin-bottom: 10px;;  
            }
            .policies{
                margin-top: 40px;
            }
            a{
                color: inherit;
                &:hover{
                    color: #F0E74C;
                }
            }
            .newsletter-form{
                background-color: white;
                display: flex;
                .input-container{
                    width: 50%;
                    padding: 15px;
                }
                .submit-container{
                    width: 50%;
                    button{
                        background-color: #F0E74C;
                        padding: 15px;
                        width: 100%;
                        height: 100%;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        .contacts{
            >div{
                margin-top: 10px;
            }
        }
        
    }
}
// Scroll to Form icon
.top-page{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(0, 0, 141);
  display: none;
  text-align: center;
  padding: 10px 0;
    button{
        cursor: pointer;
        background-color: #F0E74C;
        border: none;
        color: rgb(0, 0, 141);
        padding: 10px 20px;
    }
}
.show{
    display: block;
}  

@media screen and (max-width: 768px){
    // HEADER
    header{
        padding: 20px;
        .container{
            #navbar-menu{
                display:none;
            }
            #hamburger-menu{
                display:block;
            }
        }
    }
    //MAIN
    //First section: quote
    #quote{
        .mini-container{
            padding: 50px 30px;
            @include flex(column,flex-start,flex-start);
            h2{
                width:100%;
            }
        }
    }
    //Second section: tech
    #tech{
        .container{
            flex-wrap: wrap;
            padding: 15px;
            .big{
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    //Third section: carousel w/car-image
    #creative-space{
        .container{
            .carousel{
                @include flex(row,space-between,center);
                flex-wrap: wrap;
                .text{
                    width: 90%;
                    margin: auto;
                }
                .img-container{
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }
    //Fourth section: support + form
    #support{
        .container{
            @include flex(row,flex-start,center);
            flex-wrap: wrap;
            .description-container{
                width: 100%;
                padding: 0 20px;
                h1{
                    text-align: center;
                }
                .features{
                    @include flex(row,space-between,flex-start);
                    >div{
                        width: 45%;
                        margin: auto;
                    }
                }
            }
            .form-container{
                margin: auto;
            }
        }
    }
    //LAST PART: Footer
    footer{
        .container{
            padding: 30px 20px 70px;
            @include flex(row,space-between,flex-start);
            flex-wrap: wrap;
            >div{
                width: 50%;
                margin-bottom: 40px;
                .newsletter-form{
                    flex-wrap: wrap;
                    .input-container{
                        width: 100%;
                    }
                    .submit-container{
                        width: 100%;
                    }
                }
            }
        }
    }
}

