@import 'partials/variables';

// general rules
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.mini-container{
    max-width: 800px;
    margin: auto;
}
ul{
    li{
        list-style-type: none;
    }
}
a{
    color: inherit;
    text-decoration: none;
}
.bigger-text{
    font-size: 2.5rem;
}
.small-text{
    font-size: 0.8rem;
}
.smaller-text{
    font-size: 0.6rem;
}
.white-text{
    color: white;
}
// HEADER
header{
    padding: 20px 0;
    .container{
        @include flex(row, space-between, center);
        img{
            width: 50px;
        }
        nav{
            ul{
                @include flex(row, flex-start, center); 
                li{
                    margin-left: 30px;
                    a:hover{
                        color: blue;
                    }
                }
            }
        }
    }
}
//JUMBOTRON
#jumbotron{
    background-image: url('../img/bg-nico.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    position:relative;
    .layover{
        position:absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        text-align: center;
        background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0.07046568627450978) 98%);
    }
    .mini-container{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding-bottom: 30px;
        h1{
            letter-spacing: 10px;
            .thin-text{
                font-weight: 100;
            }
        }
    }
}
//MAIN
//First section: quote
#quote{
    .mini-container{
        padding: 50px 0;
        @include flex(row,space-between,flex-end);
        h2{
            width:65%;
        }
    }
}
//Second section: tech
#tech{
    .container{
        @include flex(row,space-between,flex-start);
        padding: 15px;
        .square{
            border: 2px solid lightgray;
            background-color: #FBF9FA;
            position: relative;
            .layover{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: black;
                color: white;
                opacity: 0;
                padding:20px;
                transition: 0.5s;
            }
            &:hover{
                .layover{
                    opacity: 0.9;
                    z-index: 99;
                }
            }
        }
        .big{
            width: 49%;
        }
        .medium{
            margin-bottom: 2%;
            @include flex(row,space-between,center);
        }
        .small{
            width: 48%;
        }
        .square.big:after, .square.small:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        .square.medium:after {
            content: "";
            display: block;
            padding-bottom: 50%;
        }
        .content{
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 20px;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .square.big{
            .content{
                @include flex(row,space-between,flex-start);
                .text-container{
                    width: 50%;
                    height: 20%;
                }
                .img-container{
                    width: 50%;
                    height: 100%;
                    position: relative;
                    img{
                        width: 90%;
                        margin:auto;
                        height: 80%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
        .square.medium{
            .content{
                @include flex(row,flex-start,flex-start);
                .text-container, .img-container{
                    width: 50%;
                    height: 100%;
                    overflow-y: auto;
                }
                .img-container{
                    margin-left: 15px;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .square.small{
            .content.left{
                @include flex(column,space-between,flex-start);
                .text-container{
                    height: 50%;
                    overflow-y: auto;
                }
                .img-container{
                    width: 100%;
                    height: 50%;
                    border: 1px solid red;
                    text-align: right;
                    img{
                        width:60%;
                        height: 100%;
                    }
                }
            }
            .content.right{
                h3{
                    height: 23px;
                    overflow-y: auto;
                }
                >div{
                    height: 100%;
                    width: 100%;
                    overflow-y: auto;
                    @include flex(row,space-between,flex-start);
                    .text-container{
                        overflow-x: hidden;
                        width: 65%;
                        height: 100%;
                        overflow-y: auto;
                    }
                    .img-container{
                        width: 35%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 90%;
                        }
                    }
                }
            }
        }       
    }
}
//Third section: carousel w/car-image
#creative-space{
    font-family: 'Playfair Display', serif;
    .container{
        padding: 50px 0;
        >h1{
            text-align: center;
            padding-bottom: 50px;
        }
        .selectors{
            display:flex;
            .selector{
                width: calc(100% / 3);
                border-bottom: 2px solid lightgray;
                text-align: center;
                color: lightgray;
                &.active{
                    color:black;
                    border-bottom: 2px solid black;
                }
            }
        }
        .carousel{
            border: 1px solid red;
            @include flex(row,space-between,center);
            .text{
                width: 30%;
            }
            .img-container{
                width: 65%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
//Fourth section: support + form
#support{
    .container{
        @include flex(row,flex-start,center);
        .description-container{
            width: 65%;
            //margin-right: 50px;
            border: 1px solid red;
            .features{
                @include flex(row,space-between,flex-start);
                border: 1px solid green;
                >div{
                    margin-right: 50px;
                }
            }
        }
        .form-container{
            border: 1px solid blue;
        }
    }
}
//Fifth section: slogan
#slogan{
    width: 1000px;
    margin: auto;
    div{
        text-align: center;
        font-size: 1.2rem;
    }
}
//Sixth section: partners
#partners{
    background-color: lightgray;
    .container{
        ul{
            @include flex(row,space-between,center);
            li{
                width: calc(100% / 9);
                padding: 0 10px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
//LAST PART: Footer
footer{
    background-color: #1D2225;
    color: lightgray;
    .container{
        @include flex(row,space-between,flex-start);
        >div{
            width: 25%;
            border: 1px solid lightblue;
            h3{
                color: white;
            }
            img{
                width: 50%;
            }
        }
    }
}
